<div id="<%= dom_id campaign %>">
  <p>
    <strong>Title:</strong>
    <%= campaign.title %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= campaign.purpose %>
  </p>

  <p>
    <strong>Estimated duration:</strong>
    <%= campaign.estimated_duration %>
  </p>

</div>
